<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>ARaynorDesign Template</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script> 
</head>

<body>
  <div id="main">
	
	<div id="menubar">
	
	  <div id="welcome">
	    <h1><a href="#">Welcome</a></h1>
	  </div><!--close welcome-->
	  
      <div id="menu_items">
	    <ul id="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="tournaments.html">Tournaments</a></li>
          <li><a href="features.html">Features</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li class="current"><a href="ourStory.html">Our Story</a></li>
          <li><a href="termsOfService.html">Terms of Service</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div><!--close menu-->
	  
    </div><!--close menubar-->	
	
	<div id="site_content">	

	  <div id="banner_image">
            <img src="images/ball.jpg" alt="" />
	  </div><!--close banner_image-->	

	  <div class="sidebar_container">       
		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>New Website</h2>
            <p>Welcome to our new website. Please have a look around, any feedback is much appreciated.</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Latest Update</h2>
            <h3>April 2013</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>March 2013</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  
		
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>February 2013</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim.</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar--> 
 		
      </div><!--close sidebar_container-->		   
	   
      <div id="content">
	  
        <div class="content_item">
		
		  <div class="form_settings">
            <h2>Our Story</h2>
            <p>A contact form requires some method of emailing the contents of the form to an email address. The most common way to do this is to use some kind of server script (PHP for example). I would be happy to send you the PHP code for the contact form for your chosen template, I charge £20.00GBP for this. Simply <a href="http://www.araynordesign.co.uk/contact.php">contact me</a> for more details.</p>
			<p>&nbsp;</p>
          </div><!--close form_settings-->
		
		</div><!--close content_item-->
		
      </div><!--close content-->   

	  <div id="content_green">
	    
		<div class="content_green_container_box">
		  <h4>Latest Blog Post</h4>
	      <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
		    <a href="#">Read more</a>
	    </div><!--close content_green_container_box-->
        
		<div class="content_green_container_box">
         <h4>Latest News</h4>
	      <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
		    <a href="#">Read more</a>
	    </div><!--close content_green_container_box-->
        
		<div class="content_green_container_boxl">
		  <h4>Latest Projects</h4>
	      <p> Phasellus laoreet feugiat risus. Ut tincidunt, ante vel fermentum iaculis.</p>
		    <a href="#">Read more</a>	  
	    </div><!--close content_green_container_box1-->      

      </div><!--close content_green--> 	
	
	</div><!--close site_content--> 
 
  </div><!--close main-->
  
  <div id="footer">
	  <a website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
  </div><!--close footer-->  	
  
</body>
</html>
