<p>
  <strong>Tournament:</strong>
  <%= @event_name %>
</p>
 
<p>
  <strong>Username:</strong>
  <%= @user_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ticket.tickets_type %>
</p>

<%= link_to "Confirm", join_index_path(:id => @ticket.tournament_id, :params => {:event_id => @ticket.tournament_id, :join => 0}), :method=> :post %>

