<html>
<head>
  	<title>Golf Stuff</title>
  	<meta name="keywords" content="golf tournament" />
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<link rel="stylesheet" type="text/css" href="css/style.css" />
  	<script type="text/javascript"></script>
</head>

<body>
  <div id="main">
    <%= render "header_menu"%>
	<div id="site_content">
	  <div id="banner_image">
            <%= image_tag("ball.jpg", :alt => "golf ball") %>
	  </div>

	  <div class="sidebar_container">

		<div class="sidebar">
          <div class="sidebar_item">
            <h2>New Website</h2>
            <p>Welcome to our new website. Please have a look around, any feedback is much appreciated.</p>
          </div><!--close sidebar_item-->
        </div><!--close sidebar-->

		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Latest Update</h2>
            <h3>September 2016</h3>
            <p></p>
		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->

		<div class="sidebar">
          <div class="sidebar_item">
            <h3>July 2016</h3>
            <p></p>
		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->

		<div class="sidebar">
          <div class="sidebar_item">
            <h3>February 2016</h3>
            <p></p>
		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->

      </div><!--close sidebar_container-->

	  <div id="content">

		<div class="content_item">

		  <h1>Welcome To Golf Stuff</h1>
	      <p>Golf Stuff lets you browse, register, sponsor and create your own golf tournaments.</p>

		  <div class="content_container">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim. Aliquam facilisis neque non nunc posuere eget volutpat metus tincidunt.</p>
		  	<div class="button_small">
		      <a href="#">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->

		  <div class="content_container">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim. Aliquam facilisis neque non nunc posuere eget volutpat metus tincidunt.</p>
		  	<div class="button_small">
		      <a href="#">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->

		  <div class="content_container">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim. Aliquam facilisis neque non nunc posuere eget volutpat metus tincidunt.</p>
		  	<div class="button_small">
		      <a href="#">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->

		  <div class="content_container">
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tempor enim. Aliquam facilisis neque non nunc posuere eget volutpat metus tincidunt.</p>
		  	<div class="button_small">
		      <a href="#">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
		</div><!--close content_item-->

	  </div><!--close content-->

	  <div id="content_green">

      </div><!--close content_green-->

	</div><!--close site_content-->

  </div><!--close main-->

  <div id="footer">
	  <a website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
  </div><!--close footer-->

</body>
</html>
