<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
  	<div id="main">
	 	<%=render "header_menu"%>

    	<div id="site_content">
			<%= render 'form' %>
			<%= link_to 'Cancel', "/golf_courses", :class => "cancel_button" %>
		</div>
  	</div>
</body>
</html>
