<html>
<head>
  	<title>Golf Stuff</title>
  	<meta name="keywords" content="golf tournament" />
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

	<div id="menubar">

	  <div id="welcome">
	    <h1><a href="#">Golf Stuff</a></h1>
	  </div><!--close welcome-->

	  <div id="menu_items">
	    <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/tournaments">Tournaments</a></li>
          <li><a href="features.html">Features</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="ourStory.html">Our Story</a></li>
          <% if logged_in? %>
		  <li><%= link_to "Profile", @current_user %></li>
		  <li><%= link_to "Logout", logout_path, method: "delete" %></li>
		  <% else %>
		  <li><%= link_to "Login", login_path%></li>
	      <% end %>
      </ul>
    </div><!--close menu-->

  </div><!--close menubar-->
</html>