<html>
<div class="profile">
<p><strong><%= @title %></strong></p>
<% if @events && @events.any? %>
<table>
	<tr>
		<th>Tournament ID</th>
		<th>Tournament Name</th>
	</tr>
	<% @events.each do |e| %>
    <tr>
      <td><%= e.id %></td>
      <td><%= e.name %></td>
      <td><%= link_to "Show Details", tournament_path(e),  :class=>"button_small button_tour" %></td>
    </tr>
  	<% end %>
</table>
<% elsif @events%>
	None
<% end %>
</div>
</html>