<html>
<head>
<title>Create User</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
  	<div id="main">
		<%=render "header_menu"%>
    	<div id="site_content">
			<%= render "form"%>
		</div>
  	</div>
</body>
</html>

