<h3><%= @title %></h3>

<% if @events && @events.any? %>
  <table class="table main-table">
    <tr>
      <th>Tournament ID</th>
      <th>Tournament Name</th>
      <th></th>
    </tr>
    <% @events.each do |e| %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.name %></td>
        <td><%= link_to "Show Details", tournament_path(e),  :class=>"btn-small button_new button" %></td>
      </tr>
      <% end %>
  </table>
<% elsif @events%>
  None
<% end %>