<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
  	<div id="main">
		<%= render "application/header_menu" %>
		<div class="col-sm-6 col-sm-offset-3">
        	<h1>New Tournament</h1>
      	</div>
    	<div id="site_content">
			<%= render 'form' %>
		
		</div>		
  	</div>
</body>
</html>
