<html>
<head>
  	<title>Golf Stuff</title>
  	<meta name="keywords" content="golf tournament" />
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!--<script>-->
<!--//      $(document).ready(function() {-->
<!--//        $(function() {-->
<!--//          $('body').removeClass('fade-out');-->
<!--//        });-->
<!--//      });-->
    <!--</script>-->
</head>

<!--<script>document.body.className += ' fade-out';</script>-->
<body>
  <div id="wrap">

      <%= render partial: "header_menu" %>

      <%= image_tag("ball.jpg", :alt => "golf ball", :class=>"img-responsive img-banner hidden-xs") %>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h1>Features</h1>
            <div>Golf Stuff allows you to create and organize golf tournaments in just a few simple steps.</div>
            <a href="/tournaments/new"><button class="button_new button btn-home">Create Tournament</button></a>

            <div>Golf Stuff allows users to view and sign up to play or sponsor public golf tournaments. We offer secure payment through PayPal </div>
            <a href="/tournaments"><button class="button_new button">View Tournaments</button></a>
          </div>

          <div class="col-sm-8">
                <h1>Welcome To Golf Stuff</h1>
                <div>Golf Stuff lets you browse, register, sponsor and create your own golf tournaments.</div>

                <h1>Some Upcoming Events</h1>
                <div>*insert small table of tournaments here*</div>
          </div>
        </div>
      </div>

    <div id="push"></div>
  </div> <!--End of wrap-->

  <%= render "footer" %>

</body>
</html>
