<html>
<head>
  	<title>Golf Stuff</title>
  	<meta name="keywords" content="golf tournament" />
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!--<script>-->
<!--//      $(document).ready(function() {-->
<!--//        $(function() {-->
<!--//          $('body').removeClass('fade-out');-->
<!--//        });-->
<!--//      });-->
    <!--</script>-->
</head>

<!--<script>document.body.className += ' fade-out';</script>-->
<body>
  <div id="wrap">

      <%= render partial: "header_menu" %>
      <%= image_tag("ball.jpg", :alt => "golf ball", :class=>"img-responsive img-banner hidden-xs") %>

      <div class="container">
        <h1>404 Not Found: Sorry, but this page does not exist...</h1>
      </div>
  </div> <!--End of wrap-->

  <%= render "footer" %>

</body>
</html>
