<!-- Don't use "form_for :tournament", that got routing problems  -->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div id="main">
    <%=render "header_menu"%>

        <div id="site_content">
        <div id="request_div">
          <% if @is_golf_course%>
            <%= render "golf_course_form" %>
          <% else %>
            <%= render "tournament_form"%>
          <% end %>
        </div>
        </div>
    </div>
</body>
</html>
