<html>
<head>
  	<title>FAQ</title>
  	<meta name="keywords" content="golf tournament" />
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<%= render partial: "header_menu" %>
	<%= image_tag("ball.jpg", :alt => "golf ball", :class=>"img-responsive img-banner hidden-xs") %>
	<div class="container" style="width:70%;">
		<h1>Frequently Asked Questions</h1>
		<h2>What is golf?</h2>
		<p>Golf is a club and ball sport in which players use various clubs to hit balls into a series of holes on a course in as few strokes as possible. The game is played on a course with an arranged progression of either nine or 18 holes.</p>
		<h2>How can I play in a tournament?</h2>
		<p>Make sure you are logged in and then go to our Tournaments page. Once you have chosen which tournament you would like to play in you can click "play" and you will be able to choose and pay for your ticket</p>
		<h2>Is payment secure?</h2>
		<p>Yes, we offer secure payment through PayPal, when you make a payment you will be directed to PayPal's website to finalize the purchase</p>
		<h2>How do I organize a tournament?</h2>
		<p>Make sure you are logged in and navigate to the Tournaments page. CLick the "New Tournament" button and you will be able to fill out the details and create your new tournament</p>
	</div>
	<%= render "footer" %> 
</body>