<p>
  <strong>Tournament:</strong>
  <%= @event_name %>
</p>
 
<p>
  <strong>Username:</strong>
  <%= @user_name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ticket.tickets_type %>
</p>

<%= link_to "Confirm", tournament_path(@event) %>

