<body>
    <b>Tournament name: </b><%= @tournament.name %> <br />
    <b>Tournament id: </b> <%= @tournament.id %> <br />
    <h2>Players</h2>
		<%= render @tournament.player_groups %>
    <%= link_to "All tournaments", "/tournaments" %>
</body>