<footer id="footer">
  CSC444 Fall 2016 - Software Engineering I - Group 2
  <a href="/pages/terms" style="padding:2%;">   Terms of Service</a>
  <a href="/pages/privacy">   Privacy Policy</a>
</footer>